body{
    color:#17f81a;
    background-color: #1b1d1a;
    font-family: pipboy;
}

body::after{
    width: 100%;
    height:100%;
    content:"";
    position:absolute;
    top:0;
    left:0;
    background:repeating-linear-gradient(0deg, rgb(0,0,0,0.6), rgb(0,0,0,0.6) 1px, transparent 1px, transparent 2px);
    opacity:30%;
    z-index:1000000;
    pointer-events: none;
}

@font-face{
    font-family: pipboy;
    src : url("./monofonto.ttf");
}

ul > li.nav-item > a.nav-link{
    color:#17f81a;
}

nav >div.container-fluid >div.collapse >div.navbar-nav > a.nav-link{
    position:relative;
    display:block;
    margin:0px 8% 0px 8%;
    font-size:22px;
    line-height:5px;
    text-align: center;
    background-color: #1b1d1a;
    z-index:2000;
    color:#17f81a;
}


nav >div.container-fluid >div.collapse >div.navbar-nav > a.active::before {
    position:absolute;
    content:"";
    width:150%;
    height:22.5px;
    left:-16px;
    border:2px solid  #17f81a;
    border-bottom: 0px;
    border-top: 0px;
}

nav >div.container-fluid >div.collapse >div.navbar-nav{
    margin:10px 20px 0px 20px;
    text-align: center;
}

.image{
    margin: auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(2);
}

.footer-pip{
    position:fixed;
    bottom:0;
    width:calc(100%-20px);
    margin:10px;
}

.navbar{
    border-bottom: 2px solid #17f81a;
    margin: 0px 5px 20px 5px;
}

nav >div.container-fluid >div.collapse > div.navbar-nav {
    width:100%;
}

.navbar::before, .navbar::after{
    height:10px;
    width:2px;
    content:"";
    position:absolute;
    display:block;
    z-index:5000;
    bottom:-10px;
    background: #17f81a;
}

.navbar::before{
    left:0px;
}

.navbar::after{
    right:0px;
}